<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Closing times</h1>

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form role="form">
  <div class="row">
    <div class="distance col-xs-12">
      <label class="col-md-3" for="date/time">Starting date and time:</label>
        <input class="col-md-2" id="date" placeholder="MM/DD/YYYY">
        <input class="col-md-2" id="time" placeholder="HH:MM (24 hour format)">
    </div>

    <div class="distance col-xs-12">
      <label class="col-xs-3">Unit for distances:</label>
        <select class="control-label col-md-1" id="unit">
          <option value='KM'>KM</option>
          <option value='Miles'>Miles</option>
        </select>
    </div>

    <div class="distance col-xs-12">
      <label class="col-xs-3">Race distance:</label>
        <select class="control-label col-md-1" id="brevet">
          <option value='200'>200</option>
          <option value='300'>300</option>
          <option value='400'>400</option>
          <option value='600'>600</option>
          <option value='1000'>1000</option>
        </select>km
    </div>
  </div>
</form>

{% for i in range(12) %}
  <b>Checkpoint #{{ i+1 }}</b>
  <div class="row" id ="{{ i+1 }}">
    <div class="col-md-2">
      <input type="text" class="form-control" name="distance" placeholder="Distance"/>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" name="location" placeholder="location" />
    </div>
    <div class="col-md-2">
      Open
      <span class="open_time form-control">(open times)</span>
    </div>
    <div class="col-md-2">
      Close
      <span class="close_time form-control">(close times)</span>
    </div>
  </div>
{% endfor %}


<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'distance' is changed ...
      $('input[name="distance"]').change(
          // ... execute this function
          function(){
              var e_distance = $(this).val();

              var e_date = document.getElementById("date").value
              var e_time = document.getElementById("time").value

              var e_unit = document.getElementById("unit").value
              var e_brevet = document.getElementById("brevet").value

              var open = $(this).parents(".row").find(".open_time");
              var close = $(this).parents(".row").find(".close_time");

              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { distance: e_distance, date: e_date, time: e_time, unit: e_unit, brevet: e_brevet },
                  // The function to call with the response
                  function(data) {
                     // alert("Got a response: " +  times);
                     open.text(data.open_times);
                     close.text(data.close_times);
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
              

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
